/* STYLES */
body {
    background: linear-gradient(to left, #39518e, #13223f);
    color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    animation: gradientAnimation 5s ease-in-out infinite;
    background-size: 200% 200%;
    margin: 0;
    padding: 20px;
    min-height: 100vh
}

h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
    box-shadow: #ffffff 0 4px 2px -2px;
    width: 1000px;
    padding-left: 10px;
}

li {
    margin: 5px 0;
    padding: 10px 10px 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 500px;
    list-style-type: none;
}

/* KEYFRAMES */
@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 50%;
    }
}